.nav-btn {
   z-index: 2;
   height: 25px;
   width: 25px;
   cursor: pointer;
   padding-right: 15px;
     @media only screen and (min-width: 880px) {
       display: none;
     }
     &__item {
       display: block;
       height: 2px;
       background: #000;
       margin-bottom: 7px;
       transition:all .5s ease;
       border-radius: 4px;
     }
   }

 .menu-list {
   font-family: Tangerine sans-serif;
   width: 0;
   background: #dff4d9;
   position: fixed;
   z-index: 1;
   top: 0;
   right: 0;
   float: right;
   transform: scale(0);
   opacity: 0;
   transition: all .5s ease;
   padding-top: 5%;
     &__item {
       text-transform: uppercase;
       display: block;
       color: #52ad34;
       font-size: 28px;
       text-align: left;
       padding-left: 10%;
       padding-bottom: 5px;
       text-decoration: none;
       font-weight: bold;
     }
     &__text {
       font-weight: bold;
       text-align: left;
       padding: 5% 5% 0 10%;
       font-size: 12px;
       color: #12250b;
     }
 }

 #menu-open {
   display: none;
   }

 #menu-open:checked+.menu-list {
   width: 100%;
   height: 100vh;
   transform: scale(1);
   opacity: 1;
   }

 #menu-open:checked~.nav-btn .nav-btn__item:first-child {
   margin-top: 9px;
   transform: rotate(-45deg);
   background: #7ccf60;
   }

 #menu-open:checked~.nav-btn .nav-btn__item {
   margin-top: -9px;
   transform: rotate(45deg);
   background: #7ccf60;
   }

 #menu-open:checked~.nav-btn .nav-btn__item:last-child {
   opacity: 0;
   }
