#service {
  padding: 30px 5%;
  background-color: #fff;
  color: #52ad34;
  @media only screen and (min-width: 1000px) {
    padding: 40px 0;
    }
  h6 {
    font-size: 10px;
    font-weight: 700;
    @media only screen and (min-width: 1000px) {
      font-size: 14px;
      }
  }
}

.section > .section__element {
			display: flex;
			flex-direction: row;
			background-color: #e6e6e6;
			&:nth-child(2n) {
				flex-direction: row-reverse;
				background-color: #fff;
				.section__element__content__inner__description {
					font-size: 14px;
					padding-bottom: 20px;
				}
				> .section__element__content {
					align-items: flex-end;
				}
			}
			> .section__element__content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 70%;
				font-size: 14px;
				line-height: 2;
				.section__element__content__inner__description {
					padding-bottom: 20px;
					max-width: 600px;
					padding-left: 5%;
					@media only screen and (min-width: 600px) {
						padding-left: 0;
					}
				}
				> .section__element__content__inner {
					margin: 0 auto;
					max-width: 100%;
				}
			}
			> .section__element__image {
				background-position: center center;
				background-size: cover;
				border-radius: 0;
				display: block;
				position: relative;
				width: 30%;
				&:before {
					background: rgba(36, 41, 67, 0.9);
					content: '';
					display: block;
					height: 100%;
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
				.section__element__image__img {
					border-radius: 0;
					display: block;
					width: 100%;
				}
			}
		}


		@media screen and (max-width: 1680px) {
			.section > .section__element > .section__element__image {
				width: 40%;
			}
			.spotlights > .section__element > .section__element__content {
				width: 60%;
			}
		}


		@media screen and (max-width: 980px) {
			.section > .section__element {
				display: block;
			}
			.section > .section__element > .section__element__image {
				width: 100%;
			}
			.section > .section__element > .section__element__content {
				padding: 40px 0 20px 0;
				width: 100%;
			}
	}
